@using WebsiteHocAVOnline.Models;
@model List<Admin>

@{
    Layout = "~/Areas/ADmin/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <h1 class="mt-4">Bảng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Danh Sách Bài Học</li>
        </ol>

        <a class="btn btn-success mb-4" href="@Url.Action("AddAccount", "System")">Thêm</a>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>STT</th>
                    <th>Mã tài khoản</th>
                    <th>Tài Khoản</th>
                    <th>Mật khẩu</th>
                    <th class="text-center">Quản lý</th>
                </tr>

            </thead>

            @{
                int i = 0;

                foreach (var item in Model)
                {
                    i++;

                    {

                        <tr>

                            <td>@i</td>
                            <td>@item.ID</td>
                            <td>@item.TenTK</td>
                            <td>@item.MatKhau</td>
                            <td class="text-center">

                                <a href="/ADmin/System/EditAccount?id=@item.ID" class="btn btn-danger btn-xs"> Sửa</a>
                                |
                                <a href="/ADmin/System/DelAccount?id=@item.ID" class="btn btn-danger btn-xs"> Xóa</a>

                            </td>

                        </tr>

                    }

                }

            }

        </table>

    </div>


            </div>
          </div>
      </div>
</div>