
@model WebsiteHocAVOnline.Models.LoginModel
@using BotDetect.Web.Mvc

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

@{
        MvcCaptcha signUpCaptcha = new MvcCaptcha("signUpCaptcha");
        signUpCaptcha.UserInputID = "CaptchaCode";
 }
    @{
        Layout = null;
    }
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>OnlineTestAV - Đăng Nhập</title>

        <!-- Custom fonts for this template-->
        <link href="~/Assets/Login/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="~/Assets/Login/css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <p class="text-canger">@ViewBag.Error</p>
                                        <h1 class="h4 text-gray-900 mb-4">Chào Mừng!</h1>


                                        @using (Html.BeginForm("Login", "Account",FormMethod.Post))
                                        {

                                    <form class="user">
                                        <div class="form-group">
                                            <label for="my-input">Tài khoản:</label>
                                            @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label for="my-input">Mật khẩu:</label>
                                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>

                                            @*Form nhap ma Captcha*@
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    @Html.Captcha(signUpCaptcha)
                                                    @Html.TextBox("CaptchaCode")
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success w-100">Đăng nhập</button>
                                        <a class="btn btn-danger w-100" href="/Account/LoginFacebook">Đăng Nhập FaceBook</a>

                                    </form>
                                            <hr>
                                            <div class="text-center">
                                                <a class="small" href="forgot-password.html">Quên Mật Khẩu ?</a>
                                            </div>
                                            <div class="text-center">
                                                <a class="small" href="Register">Tạo Tài Khoản Mới</a>

                                            </div>
                                        }
                                        </>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Bootstrap core JavaScript-->
            <script src="~/Assets/Login/vendor/jquery/jquery.min.js"></script>
            <script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="~/Assets/Login/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="~/Assets/Login/js/sb-admin-2.min.js"></script>

    </body>

</html>
