@model WebsiteHocAVOnline.Models.RegisterModel
@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

@{
    MvcCaptcha signUpCaptcha = new MvcCaptcha("signUpCaptcha");
    signUpCaptcha.UserInputID = "CaptchaCode";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OnlineTestAV - Đăng Ký</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/Login/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Login/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Tạo Tài Khoản</h1>
                            </div>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <label for="my-input">Họ và tên:</label>
                                    @Html.EditorFor(model => model.Hoten, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="my-input">Số Điện Thoại:</label>
                                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="my-input">Email:</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="my-input">Tài khoản:</label>
                                    @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="my-input">Mật khẩu:</label>
                                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="my-input">Nhập Lại Mật khẩu:</label>
                                    @Html.EditorFor(model => model.ConfirmMatKhau, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmMatKhau, "", new { @class = "text-danger" })
                                </div>

                                @*Form nhap ma Captcha*@
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        @Html.Captcha(signUpCaptcha)
                                        @Html.TextBox("CaptchaCode")
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success w-100">Đăng Ký</button>}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Login/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/Login/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/Login/js/sb-admin-2.min.js"></script>

</body>

</html>
