@using WebsiteHocAVOnline.Models;
@{ 
    List<TaiKhoan> ListUer = ViewBag.ListUser;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Website Học Anh Văn Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Assets/Client/css/animate.css">
    
    <link rel="stylesheet" href="~/Assets/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/Client/css/magnific-popup.css">
    
    <link rel="stylesheet" href="~/Assets/Client/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/Client/css/style.css">
  </head>
  <body>

      <div class="container-fluid px-md-5  pt-4 pt-md-5">
          <div class="row justify-content-between">
              <div class="col-md-8 order-md-last">
                  <div class="row">
                      <div class="col-md-6 text-center">
                          <a class="navbar-brand" href="index.html">Online <span>Test</span> <small>Website Học Anh Văn Online</small></a>
                      </div>
                      <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                          <form action="#" class="searchform order-lg-last">
                              <div class="form-group d-flex">
                                  <input type="text" class="form-control pl-3" placeholder="Search">
                                  <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 d-flex">
                  <div class="social-media">
                      <p class="mb-0 d-flex">
                          <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                          <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                          <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                          <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
          <div class="container-fluid">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa fa-bars"></span> Menu
              </button>
              <div class="collapse navbar-collapse" id="ftco-nav">
                  <ul class="navbar-nav m-auto">
                      <li class="nav-item active"><a href="@Url.Action("Index", "Home")" class="nav-link">Trang Chủ</a></li>
                      <li class="nav-item"><a href="@Url.Action("ConfirmUser", "Quiz")" class="nav-link">Thi</a></li>
                      <li class="nav-item"><a href="@Url.Action("Index", "Document")" class="nav-link">Tài Liệu</a></li>
                      <li class="nav-item"><a href="@Url.Action("Introduce", "Home")" class="nav-link">Giới Thiệu</a></li>
                  </ul>

                  <div class="form-inline my-2 my-lg-0 mr-2">
                      <span>Tài khoản: @(HttpContext.Current.Session["TAI KHOAN"] == null ? "" : ListUer.FirstOrDefault(m => m.IDTaiKhoan == Convert.ToInt32(HttpContext.Current.Session["TAI KHOAN"])).TenDangNhap)</span>
                  </div>

                  <div class="form-inline my-2 my-lg-0">
                      <a class="btn btn-success my-2 my-sm-0" href="/Account/@(HttpContext.Current.Session["TAI KHOAN"] == null ? "Login" : "Logout")">@(HttpContext.Current.Session["TAI KHOAN"] == null ? "Đăng nhập" : "Đăng xuất")</a>
                  </div>
              </div>
          </div>
      </nav>
      <!-- END nav -->

      <section class="hero-wrap" style="background-image: url('../../Assets/Client/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
              <div class="row no-gutters slider-text align-items-center">
                  <div class="col-md-8 ftco-animate d-flex align-items-end">
                      <div class="text w-100">
                          <h1 class="mb-4">Luyện Thi Anh Văn</h1>
                          <p class="mb-4">Học anh văn miễn phí cho mọi người.</p>

                      </div>
                  </div>
              </div>
          </div>
      </section>

      <div class="bai-giang" id="baigiang">
          <div class="container">
              <div class="row">

                  @{ Html.RenderAction("MenuLesson", "Home");}

                  @RenderBody()

              </div>

          </div>

      </div>





      <!-- <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Price &amp; Plans</span>
            <h2>Affordable Packages</h2>
          </div>
        </div>
            <div class="row">
                <div class="col-md-4 ftco-animate d-flex">
              <div class="block-7 w-100">
                <div class="text-center">
                    <span class="price"><sup>$</sup> <span class="number">49</span> <sub>/mo</sub></span>
                    <span class="excerpt d-block">For Adults</span>
                    <ul class="pricing-text mb-5">
                      <li><span class="fa fa-check mr-2"></span>Individual Counseling</li>
                      <li><span class="fa fa-check mr-2"></span>Couples Therapy</li>
                      <li><span class="fa fa-check mr-2"></span>Family Therapy</li>
                    </ul>

                    <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate d-flex">
              <div class="block-7 w-100">
                <div class="text-center">
                    <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mo</sub></span>
                    <span class="excerpt d-block">For Children</span>
                    <ul class="pricing-text mb-5">
                      <li><span class="fa fa-check mr-2"></span>Counseling for Children</li>
                      <li><span class="fa fa-check mr-2"></span>Behavioral Management</li>
                      <li><span class="fa fa-check mr-2"></span>Educational Counseling</li>
                    </ul>

                    <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 ftco-animate d-flex">
              <div class="block-7 w-100">
                <div class="text-center">
                    <span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mo</sub></span>
                    <span class="excerpt d-block">For Business</span>
                    <ul class="pricing-text mb-5">
                      <li><span class="fa fa-check mr-2"></span>Consultancy Services</li>
                      <li><span class="fa fa-check mr-2"></span>Employee Counseling</li>
                      <li><span class="fa fa-check mr-2"></span>Psychological Assessment</li>
                    </ul>

                    <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section> -->
      <!-- <section class="ftco-appointment ftco-section img" style="background-image: url(images/bg_2.jpg);">
            <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 half ftco-animate">
                    <h2 class="mb-4">Send a Message &amp; Get in touch!</h2>
                    <form action="#" class="appointment">
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                          <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email">
                        </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <div class="form-field">
                                <div class="select-wrap">
                          <div class="icon"><span class="fa fa-chevron-down"></span></div>
                          <select name="" id="" class="form-control">
                            <option value="">Services</option>
                            <option value="">Relation Problem</option>
                            <option value="">Couple Counseling</option>
                            <option value="">Depression Treatment</option>
                            <option value="">Family Problem</option>
                            <option value="">Personal Problem</option>
                            <option value="">Business Problem</option>
                          </select>
                        </div>
                          </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                          <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                        </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                          <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
                        </div>
                                </div>
                        </div>
              </form>
                </div>
            </div>
        </div>
    </section> -->

      <section class="ftco-section">
          <div class="container">
              <div class="row justify-content-center mb-5">
                  <div class="col-md-7 heading-section text-center ftco-animate">
                      <span class="subheading">Blog</span>
                      <h2>Recent Blog</h2>
                  </div>
              </div>
              <div class="row d-flex">
                  <div class="col-md-4 d-flex ftco-animate">
                      <div class="blog-entry justify-content-end">
                          <div class="text text-center">
                              <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_1.jpg');">
                              </a>
                              <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                                  <div>
                                      <span class="day">02</span>
                                      <span class="mos">May</span>
                                      <span class="yr">2020</span>
                                  </div>
                              </div>
                              <h3 class="heading mb-3"><a href="#">New Friends With Books</a></h3>
                              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                      <div class="blog-entry justify-content-end">
                          <div class="text text-center">
                              <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_2.jpg');">
                              </a>
                              <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                                  <div>
                                      <span class="day">02</span>
                                      <span class="mos">May</span>
                                      <span class="yr">2020</span>
                                  </div>
                              </div>
                              <h3 class="heading mb-3"><a href="#">New Friends With Books</a></h3>
                              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 d-flex ftco-animate">
                      <div class="blog-entry justify-content-end">
                          <div class="text text-center">
                              <a href="blog-single.html" class="block-20 img" style="background-image: url('images/image_3.jpg');">
                              </a>
                              <div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
                                  <div>
                                      <span class="day">02</span>
                                      <span class="mos">May</span>
                                      <span class="yr">2020</span>
                                  </div>
                              </div>
                              <h3 class="heading mb-3"><a href="#">New Friends With Books</a></h3>
                              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <footer class="ftco-footer">
          <div class="container">
              <div class="row mb-5">
                  <div class="col-sm-12 col-md">
                      <div class="ftco-footer-widget mb-4">
                          <h2 class="ftco-heading-2 logo"><a href="#">Connect</a></h2>
                          <p>Far far away, behind the word mountains, far from the countries.</p>
                          <ul class="ftco-footer-social list-unstyled mt-2">
                              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md">
                      <div class="ftco-footer-widget mb-4 ml-md-4">
                          <h2 class="ftco-heading-2">Extra Links</h2>
                          <ul class="list-unstyled">
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Affiliate Program</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Business Services</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Education Services</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Gift Cards</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md">
                      <div class="ftco-footer-widget mb-4 ml-md-4">
                          <h2 class="ftco-heading-2">Legal</h2>
                          <ul class="list-unstyled">
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Join us</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Privacy &amp; Policy</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Term &amp; Conditions</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md">
                      <div class="ftco-footer-widget mb-4">
                          <h2 class="ftco-heading-2">Company</h2>
                          <ul class="list-unstyled">
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Careers</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md">
                      <div class="ftco-footer-widget mb-4">
                          <h2 class="ftco-heading-2">Have a Questions?</h2>
                          <div class="block-23 mb-3">
                              <ul>
                                  <li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                  <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                  <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">info@yourdomain.com</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container-fluid px-0 py-5 bg-black">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">

                          <p class="mb-0" style="color: rgba(255,255,255,.5);">
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;
                              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </footer>



      <!-- loader -->
      <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


      <script src="~/Assets/Client/js/jquery.min.js"></script>
      <script src="~/Assets/Client/js/jquery-migrate-3.0.1.min.js"></script>
      <script src="~/Assets/Client/js/popper.min.js"></script>
      <script src="~/Assets/Client/js/bootstrap.min.js"></script>
      <script src="~/Assets/Client/js/jquery.easing.1.3.js"></script>
      <script src="~/Assets/Client/js/jquery.waypoints.min.js"></script>
      <script src="~/Assets/Client/js/jquery.stellar.min.js"></script>
      <script src="~/Assets/Client/js/owl.carousel.min.js"></script>
      <script src="~/Assets/Client/js/jquery.magnific-popup.min.js"></script>
      <script src="~/Assets/Client/js/jquery.animateNumber.min.js"></script>
      <script src="~/Assets/Client/js/scrollax.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
      <script src="~/Assets/Client/js/google-map.js"></script>
      <script src="~/Assets/Client/js/main.js"></script>

  </body>
</html>