@using WebsiteHocAVOnline.Models
@model List<CauHoi>
@{
    ViewBag.Title = "EditExam";
    Layout = "~/Views/Shared/_LayoutQuiz.cshtml";
}

<h2>EditExam</h2>
<style>
    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }

    .info_list {
        text-align: center;
    }


    .bai-giang {
        display: none;
    }

    .text-center {
        text-align: center;
    }

    .banner {
        display: none;
    }

    .footer {
        display: none;
    }
</style>

<div class="container">

    <h1 class="info_list well well-sm pt-5">DANH SÁCH ĐÁP ÁN</h1>
    <hr />
    <table class="table table-striped custab">
        <thead>

            <tr>
                <th>Câu</th>
                <th>Câu hỏi</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>Đáp án</th>
            </tr>

        </thead>

        @{ int i = 0;

                        foreach (var item in Model)
                        {
                            i++;


            <tr>

                <td>@i</td>

                <td>
                    <p>@item.CauHoi1 </p>

                </td>

                <td>@item.A</td>

                <td>@item.B</td>

                <td>@item.C</td>

                <td>@item.D</td>

                <td>
                    <b>@item.DanAnDung</b>


                </td>

            </tr> } }



    </table>
</div>
