@using WebsiteHocAVOnline.Models
@model List<CauHoi>
@{
    ViewBag.Title = "EditExam";
    Layout = "~/Views/Shared/_LayoutQuiz.cshtml";
}

<div class="container">

    <h1 class="info_list well well-sm pt-5">DANH SÁCH ĐÁP ÁN</h1>
    <hr />
    <table class="table table-striped custab">
        <thead>

            <tr>
                <th>Câu</th>
                <th>Câu hỏi</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>Đáp án</th>
            </tr>

        </thead>

        @{ int i = 0;

                        foreach (var item in Model)
                        {
                            i++;


            <tr>

                <td>@i</td>

                <td>
                    <p>@item.CauHoi1 </p>

                </td>

                <td>@item.A</td>

                <td>@item.B</td>

                <td>@item.C</td>

                <td>@item.D</td>

                <td>
                    <b>@item.DanAnDung</b>


                </td>

            </tr> } }



    </table>
</div>
