@model WebsiteHocAVOnline.Models.Category

@{
    ViewBag.Title = "DelCategory";
    Layout = "~/Areas/ADmin/Views/Shared/_Layout.cshtml";
}

@section header{
    Bạn có đồng ý muốn xóa?
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TênCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TênCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.TenTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.TenTK)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary btn-danger btn-block" /> 
            
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
</div>
