@using WebsiteHocAVOnline.Models;
@model List<TaiKhoan>

@{

    Layout = "~/Areas/ADmin/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <h1 class="mt-4">Bảng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Danh Sách Bài Học</li>
        </ol>

        <a class="btn btn-success mb-4" href="@Url.Action("AddUser", "User")">Thêm</a>
        <table class="table table-bordered">
            <thead class="thead-dark">

                <tr>
                    <th>STT</th>
                    <th>Mã số</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Tên tài khoản</th>
                    <th>Mật khẩu</th>
                    <th class="text-center">Quản lý</th>
                </tr>

            </thead>

            @{
                int i = 0;

                foreach (var item in Model)
                {
                    i++;
                    using (Html.BeginForm("DelUser", "User", new { id = item.IDTaiKhoan }))
                    {

                        <tr>

                            <td>@i</td>
                            <td>@item.IDTaiKhoan</td>
                            <td>@item.Hoten</td>
                            <td>@item.Email</td>
                            <td>@item.TenDangNhap</td>
                            <td>@item.MatKhau</td>
                            <td class="text-center">

                                <a href="/ADmin/User/EditUser?id=@item.IDTaiKhoan" class="btn btn-danger btn-xs"> Sửa</a>
                                |
                                <input type="submit" value="Xóa" class="btn btn-danger btn-xs" onclick="return confirm('Bạn có muốn xóa tài khoản: @item.Hoten ?')" />

                            </td>

                        </tr>

                    }

                }

            }

        </table>

    </div>


                </div>
            </div>
        </div>
    </div>



